section.about
  .container
    +blockBox({
      caption: "What we do", 
      title: "story about us", 
      desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nemo nam quidem omnis qui, sed maxime iste, aperiam rem repellendus aliquam nulla ea quos nostrum provident voluptatibus sunt odio praesentium."
    })
    .about-list
      +aboutItem({
        src: "../images/img-about1.png", 
        title: "Super Team", 
        icon: "fa fa-users"
      })
      +aboutItem({
        src: "../images/img-about2.png", 
        title: "Super Team", 
        icon: "fa fa-users"
      })
      +aboutItem({
        src: "../images/img-about3.png", 
        title: "Super Team", 
        icon: "fa fa-users"
      })