section.people
	.container
		+blockBox({
			caption: "Happy clients", 
			title: "What people say",
			desc: ""
		})
		ul.people-list
			+peopleItem({
				src: "./images/img-people1.png",
				name: "Matthew Dix", 
				job: "Graphic design", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia quas sed debitis. Fugit enim qui amet ad, officiis autem animi incidunt maiores, earum consequatur doloribus. Modi amet eos nobis?"
			})
			+peopleItem({
				src: "./images/img-people2.png",
				name: "Nick Karvounis", 
				job: "Graphic design", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia quas sed debitis. Fugit enim qui amet ad, officiis autem animi incidunt maiores, earum consequatur doloribus. Modi amet eos nobis?"
			})
			+peopleItem({
				src: "./images/img-people3.png",
				name: "Jaelynn Castillo", 
				job: "Graphic design", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia quas sed debitis. Fugit enim qui amet ad, officiis autem animi incidunt maiores, earum consequatur doloribus. Modi amet eos nobis?"
			})
			+peopleItem({
				src: "./images/img-people4.png",
				name: "Mike Petrucci", 
				job: "Graphic design", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia quas sed debitis. Fugit enim qui amet ad, officiis autem animi incidunt maiores, earum consequatur doloribus. Modi amet eos nobis?"
			})