section.service
	.container
		+blockBox({
			caption: "We work with", 
			title: "Amazing Services",
			desc: ""
		})
		.service-container
			.service-list
				+serviceItem({
					src: "../images/img-service-icon1.png", 
					title: "Photography", 
					desc: "fugit voluptatem assumenda est porro id explicabo impedit minima et, debitis illo magni in aliquam."
				})
				+serviceItem({
					src: "../images/img-service-icon2.png", 
					title: "Web design", 
					desc: "fugit voluptatem assumenda est porro id explicabo impedit minima et, debitis illo magni in aliquam."
				})
				+serviceItem({
					src: "../images/img-service-icon3.png", 
					title: "Creativity", 
					desc: "fugit voluptatem assumenda est porro id explicabo impedit minima et, debitis illo magni in aliquam."
				})
			.service-list
				+serviceItem({
					src: "../images/img-service-icon4.png", 
					title: "Seo", 
					desc: "fugit voluptatem assumenda est porro id explicabo impedit minima et, debitis illo magni in aliquam."
				})
				+serviceItem({
					src: "../images/img-service-icon5.png", 
					title: "CSS/HTML", 
					desc: "fugit voluptatem assumenda est porro id explicabo impedit minima et, debitis illo magni in aliquam."
				})
				+serviceItem({
					src: "../images/img-service-icon6.png", 
					title: "Digital", 
					desc: "fugit voluptatem assumenda est porro id explicabo impedit minima et, debitis illo magni in aliquam."
				})