section.story
	.container
		+blockBox({
			caption: "Our story", 
			title: "Latest blog",
			desc: ""
		})
		ul.story-list
			+storyItem({
				src: "./images/img-blog1.png", 
				dateNumber: "15", 
				dateText: "Jan", 
				title: "Lorem ipsum, dolor sit amet consectetur adipisicing elit.", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolor et doloribus illum ipsum! Sed, incidunt laudantium. Cum alias veritatis dicta, asperiores ipsa quidem animi ipsum mollitia natus consequatur obcaecati!", 
				views: "1000", 
				comments: "100"
			})
			+storyItem({
				src: "./images/img-blog2.png", 
				dateNumber: "15", 
				dateText: "Jan", 
				title: "Lorem ipsum, dolor sit amet consectetur adipisicing elit.", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolor et doloribus illum ipsum! Sed, incidunt laudantium. Cum alias veritatis dicta, asperiores ipsa quidem animi ipsum mollitia natus consequatur obcaecati!", 
				views: "1000", 
				comments: "100"
			})
			+storyItem({
				src: "./images/img-blog3.png", 
				dateNumber: "15", 
				dateText: "Jan", 
				title: "Lorem ipsum, dolor sit amet consectetur adipisicing elit.", 
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolor et doloribus illum ipsum! Sed, incidunt laudantium. Cum alias veritatis dicta, asperiores ipsa quidem animi ipsum mollitia natus consequatur obcaecati!", 
				views: "1000", 
				comments: "100"
			})
section.map
	.container
		.map-content
			img.map-icon(src="./images/img-map-icon.png")
			h2.map-heading Open map