section.team
	.container
		+blockBox({
			caption: "Who we are", 
			title: "Meet our team", 
			desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sed labore sint numquam non incidunt earum voluptatum! Nesciunt molestiae aut distinctio excepturi quis laborum eligendi voluptatibus maiores rerum. Sapiente, odio!"
		})
		.team-list
			+teamItem({
				src: "./images/img-team1.png",
				name: "Mathew Dix",
				position: "Graphic design"
			})
				+teamSocial({
					facebook: "#",
					twitter: "#",
					pinterest: "#",
					instagram: "#"
				})
			+teamItem({
				src: "./images/img-team2.png",
				name: "Mathew Dix",
				position: "Graphic design"
			})
				+teamSocial({
					facebook: "#",
					twitter: "#",
					pinterest: "#",
					instagram: "#"
				})
			+teamItem({
				src: "./images/img-team3.png",
				name: "Mathew Dix",
				position: "Graphic design"
			})
				+teamSocial({
					facebook: "#",
					twitter: "#",
					pinterest: "#",
					instagram: "#"
				})
section.brand
	.container
		img(src="./images/img-logos.png" alt="brands")
