section.quote
	.container
		.quote-container
			//- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
			+quoteItem({
				src: "./images/img-quote-avatar.png",
				type: true,
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aut beatae possimus, distinctio, sequi saepe cum eius repellendus atque autem nisi dolores voluptate aliquid veniam ipsam dolorum inventore ullam minima?", 
				author: "Jon Doe"
			})
			+quoteItem({
				src: "./images/img-quote-avatar.png",
				type: true,
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aut beatae possimus, distinctio, sequi saepe cum eius repellendus atque autem nisi dolores voluptate aliquid veniam ipsam dolorum inventore ullam minima?", 
				author: "Jon Doe"
			})
			+quoteItem({
				src: "./images/img-quote-avatar.png",
				type: true,
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aut beatae possimus, distinctio, sequi saepe cum eius repellendus atque autem nisi dolores voluptate aliquid veniam ipsam dolorum inventore ullam minima?", 
				author: "Jon Doe"
			})
			
			//- i.fal.fa-angle-right.quote-arrow-right.quote-arrow
