.section.wedo
	.container
		+blockBox({
			caption: "Service", 
			title: "What we do", 
			desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque unde eum quae dolorum provident possimus praesentium at aspernatur? Magnam voluptatem dolores eum harum provident? Consequatur quasi praesentium officiis. Commodi, id."
		})
		.wedo-container
			img(src="../images/img-wedo.png").wedo-image
			.wedo-content
				+wedoItem({
					src: "../images/img-wedo-icon1.png", 
					title: "Photography", 
					desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ratione reiciendis eaque, fugiat ex et, neque aliquam ducimus labore voluptates consectetur alias possimus tempora iusto? Optio numquam quas perferendis fugit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ratione reiciendis eaque, fugiat ex et, neque aliquam ducimus labore voluptates consectetur alias possimus tempora iusto? Optio numquam quas perferendis fugit?", 
					active: "is-active"
				})
				+wedoItem({
					src: "../images/img-wedo-icon2.png", 
					title: "Creativity", 
					desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ratione reiciendis eaque, fugiat ex et, neque aliquam ducimus labore voluptates consectetur alias possimus tempora iusto? Optio numquam quas perferendis fugit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ratione reiciendis eaque, fugiat ex et, neque aliquam ducimus labore voluptates consectetur alias possimus tempora iusto? Optio numquam quas perferendis fugit?",
					active: ""
				})
				+wedoItem({
					src: "../images/img-wedo-icon3.png", 
					title: "Web design", 
					desc: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ratione reiciendis eaque, fugiat ex et, neque aliquam ducimus labore voluptates consectetur alias possimus tempora iusto? Optio numquam quas perferendis fugit? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ratione reiciendis eaque, fugiat ex et, neque aliquam ducimus labore voluptates consectetur alias possimus tempora iusto? Optio numquam quas perferendis fugit?",
					active: ""
				})
				//- accordion
		