section.work
	.container
		+blockBox({
			caption: "What we do", 
			title: "Some of out work",
			desc: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur quos nesciunt perferendis vero excepturi itaque minima rem odio reiciendis officia, accusamus perspiciatis, ab eum veniam natus sed, minus molestias? Ex!"
		})
	.work-grid
		+workItem({
			src: "./images/img-work1.png",
			icon: "fa fa-home",
			title: "Photographer Super",
			desc: "Lorem ipsum dolor sit",
			full: ""
		})
		+workItem({
			src: "./images/img-work3.png",
			icon: "fa fa-cog", 
			title: "Fontend Developer",
			desc: "Lorem ipsum dolor sit",
			full: ""
		})
		+workItem({
			src: "./images/img-work2.png",
			icon: "fa fa-home",
			title: "Creatively designed",
			desc: "Lorem ipsum dolor sit",
			full: ""
		})
		+workItem({
			src: "./images/img-work4.png",
			icon: "fa fa-home",
			title: "Creatively designed",
			desc: "Lorem ipsum dolor sit",
			full: ""
		})
		+workItem({
			src: "./images/img-work5.png",
			icon: "fa fa-home",
			title: "Super heart",
			desc: "Lorem ipsum dolor sit",
			full: "work-item--full"
		})
		+workItem({
			src: "./images/img-work6.png", 
			icon: "fa fa-home", 
			title: "Creatively designed",
			desc: "Lorem ipsum dolor sit",
			full: ""
		})
		+workItem({
			src: "./images/img-work7.png", 
			icon: "fa fa-home", 
			title: "Creatively designed",
			desc: "Lorem ipsum dolor sit",
			full: ""
		})
	//- .work-list
	//- 	.work-column
	//- 		+workItem
	//- 		+workItem("./images/img-work2.png","fa fa-cog", "Fontend Developer")
	//- 	.work-column
	//- 		+workItem("./images/img-work3.png","fa fa-home","Creatively designed")
	//- 		+workItem("./images/img-work4.png","fa fa-home","Creatively designed")
	//- 	.work-column
	//- 		+workItem("./images/img-work5.png","fa fa-home","Super heart","work-item--full")
	//- 	.work-column
	//- 		+workItem("./images/img-work6.png", "fa fa-home", "Creatively designed")
	//- 		+workItem("./images/img-work7.png", "fa fa-home", "Creatively designed")